body {
	padding: 5%;
	font-family: 'Raleway';
	background-color: #263238;
	color: #e0e0e0;
}

a {
	text-decoration: none;
	color: #e0e0e0;
}

header {
	font-size: 2.4em;
	font-weight: 600;
	font-family: 'Josefin Sans', sans-serif;
	line-height: 1.5em;
	text-align: 
	color: #fafafa;
	margin-top: 0;
}

#description {
	font-size: 1em;
	font-weight: 500;
	margin-bottom: 5%;
}

nav {
	display: flex;
}

nav > div {
	font-weight: 600;
}

nav > div:nth-child(2), nav > div:nth-child(3) {
	margin-left: 10%;
	color: #9e9e9e;
}

ul {
	list-style-type: none;
	padding: 0;
}

ul#music-controls {
	width: 40%;
	margin: 10% 0;
	display: flex;
	justify-content: space-between;
}

ul#track-list > li {
	height: 60px;
	border-top: 2px solid #9e9e9e;
	margin: 2% 0;
	display: flex;
	align-items: center;
}

div#video-container {
	display: none;
}

div#video-container > ul > li {
	margin-bottom: 5%;
}

ul.video-list li {
	width: 100%;
	height: 100px;
	margin: 5% 0;
	background-color: #d5d5d5;
}

div#bio-container {
	display: none;
}

img#profile-picture {
	display: inline-block;
	width: 100%;
	height: 100px;
	margin: 5% 0;
	background-color: #d5d5d5;
}

p#bio-description {
	font-size: .9em;
	line-height: 1.5;
}

footer {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column;
}

ul#links {
	display: flex;
	justify-content: space-around;
	width: 60%;
	font-size: 1.5em
}

div#copyright {
	font-size: .8em;
}

div#developer {
	font-size: .6em;
}
