body {
	padding: 5%;
	font-family: 'Raleway';
	background-color: #212121;
	color: #e0e0e0;
}

a {
	text-decoration: none;
	color: #e0e0e0;
}

a:hover {
	cursor: pointer;
}

header {
	font-size: 2.4em;
	font-weight: 900;
	color: #fafafa;
	text-transform: uppercase;
	margin-bottom: 2%;
}

#description {
	font-size: 1em;
	font-weight: 500;
	margin-bottom: 5%;
}

nav {
	display: flex;
}

nav > div {
	font-weight: 600;
}

nav > div:hover, ul#music-controls > li, ul#track-list > li {
	cursor: pointer;
}

nav > div:nth-child(2), nav > div:nth-child(3) {
	margin-left: 10%;
	color: #9e9e9e;
}

#pause {
	display: none;
}

ul {
	list-style-type: none;
	padding: 0;
}

ul#music-controls {
	width: 40%;
	margin: 10% 0;
	display: flex;
	justify-content: space-between;
}

ul#track-list > li {
	height: 60px;
	border-top: 2px solid #9e9e9e;
	margin: 2% 0 5% 0;
	display: flex;
	align-items: center;
}

div#discography-container {
	display: none;
}

ul#discography-list {
	padding-top: 1%;
}

ul#discography-list > li {
	width: 100%;
	height: 60px;
	margin-bottom: 5%;
	display: flex;
}

ul#discography-list > li > div.album-art {
	height: 100%;
	width: 60px; /*square*/
	background-color: #323232;
}

ul#discography-list >  li > ul.album-details {
	height: 100%;
	padding-left: 3%;
}

ul#discography-list >  li > ul.album-details > li.album-title {
	font-size: .9em;
}

ul#discography-list >  li > ul.album-details > li.album-artist {
	font-size: .9em;
}

ul#discography-list >  li > ul.album-details > li.album-year {
	font-size: .8em;
}

div#bio-container {
	display: none;
}

img#profile-picture {
	display: inline-block;
	width: 100%;
	height: 100px;
	margin: 5% 0;
	background-color: #d5d5d5;
}

p#bio-description {
	font-size: .9em;
	line-height: 1.5;
}

footer {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column;
}

ul#links {
	display: flex;
	justify-content: space-around;
	width: 60%;
	font-size: 1.5em
}

div#copyright {
	font-size: .8em;
}

div#developer {
	font-size: .6em;
}
