/*Blackberry playbook and Nexus 7*/
@media all and (min-width: 600px) and (min-height: 960px) {
	
	body {
		padding: 10%;
	}

	ul#music-controls {
		width: 40%;
		margin: 8% 0;
	}

}
/*iPad / Tablets*/
@media all and (min-width: 768px) and (min-height: 1024px) {
	
	body {
		padding: 15%;
	}

	ul#music-controls {
		width: 30%;
		margin: 7% 0;
	}

}
/*Laptops: XGA*/
@media all and (min-width: 1024px) {
	
	html {
		min-width: 100%;
		min-height: 100%;
		padding: 0;
		margin: 0;
	}

	body {
		min-height: 100%;
		padding-top: 4%;
		padding-left: 10%;
		display: flex;
		flex-flow: column;
		justify-content: center;
		align-items: center;
		background-image: url('../images/pic-1-f.jpg');
		background-position: left center;
		background-attachment: fixed;
		background-size: cover;
		background-repeat: no-repeat;
	}

	header, #tagline, #description, nav, #base-container {
		width: 50%;
		display: flex;
	}

	#tagline {
		margin-bottom: 1%;
	}

	#description {
		margin-bottom: 3%;
	}

	nav > div:nth-child(2), nav > div:nth-child(3) {
		margin-left: 5%;
	}

	div#music-container, div#discography-container, div#bio-container {
		width: 100%;
	}

	ul#music-controls {
		width: 30%;
		margin: 8% 0;
	}

	ul#track-list > li {
		width: 480px;
	}

	ul#discography-list {
		width: 100%;
	}

	ul#discography-list >  li > ul.album-details {
		width: 50%;
	}

	footer {
		width: 50%;
	}

	ul#links {
		width: 50%;
	}

}
/*ipad protrait*/
@media all and (min-width: 1024px) and (max-height: 768px) {
	body {
		padding: 5%;
		align-items: center;
	}
}

/*kindle fire*/
@media all and (min-width: 1600px) {
	html {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	body {
		width: 100%;
		height: 768px;
		justify-content: flex-start;
	}

	header, #tagline, #description, nav, #base-container, footer {
		width: 30%;
		display: flex;
	}

	#description {
		margin-bottom: 1.5%;
	}

	ul#music-controls {
		margin: 6% 0;
	}

	ul#track-list > li {
		width: 100%;
	}

	ul#links {
		padding-left: 3%;
	}
}
